<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="deltaDays" value="1" />
        <add key="pathSharpLogs" value="C:\Octopus\Applications\TEST" />        
        <add key="pathZebraLogs" value="C:\Zebra\Logs" />
        <add key="pathArchiveLogsDirectory" value="C:\Logs" />
        <add key="fileArchiveNameSharpLogs" value="SharpLogs.zip" />
        <add key="fileArchiveNameZebraLogs" value="ZebraLogs.zip" />
    </appSettings>
</configuration>